$primary-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0; 
$title-policy: "Shrikhand";
$txt-policy: 'Roboto', sans-serif;
$lnr-gradient:  linear-gradient(359deg, #9356DC -11.44%, #FF79DA 123.93%);

@keyframes menu-delay {

    0% {
        opacity: 0;
        translate: 20%;
    }
    100% {
        opacity: 1;
    }  
}

@keyframes check-activate {

    0% {
        right: -62px;
    }
    
    100% {
        right: 0px;
    }
}


* {
    margin: 0;
    padding: 0;
    font-family: $txt-policy;

}

.main__container {
    width: 100%;
    box-sizing: border-box;
    @media (min-width: 768px) {
        
    }
}

.arrow__icon {
    position: absolute;
    left: 23px;
    top: 20px;
    width: 17.2px;
    height: 16px;
    cursor: pointer;
    color: #353535;
    transition: transform ease-in-out 250ms;
        &:hover {
            transform: scale(1.5);
        }
        
        @media (min-width:768px) {
            
            top: 32px;
        }
}

.logo {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 14px 0 10px 0;
    z-index: 1;
    @media (min-width:768px) {
        padding: 20px 0px 20px 0px;
    }
    .logo__img {
        width: 162px;
        @media (min-width:768px) {
            width: 200px;
            height: 34.2px;
        }
    }
}

.restaurant {
    
    .restaurant__img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        @media (min-width: 768px) {
            height: 460px;
        }
    }
}

.all {
    
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
    }

    &__card {
        position: relative;
        margin-top: -40px;
        width: 100%;
        background-color: #F7F7F7;
        border-radius: 40px 40px 0px 0px;
        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
        }
    }   
        &__title {
            display: flex;
            align-items: baseline;
            padding: 32px 17px 42px 17px;
            
            @media (min-width: 768px) {
                padding: 50px 0px 40px 0px;
            }
            
        }
        
            &__h1 {
                font-family: $title-policy;
                font-size: 28px;
            }
            
            &__icon--empty { 
                z-index: 1;
                padding-left: 28px;
                cursor: pointer;
                font-size: 24px;
                color: black;
                &:hover + .all__icon--full{
                    opacity: 1;
                }
            }
            
            &__icon--full {
                position: relative;
                font-size: 24px;
                cursor: pointer;
                background-clip: text;
                -webkit-background-clip: text;
                background: linear-gradient(#FF79DA, #9356DC);
                -webkit-text-fill-color: transparent; 
                color: transparent;
                right: 24px;
                z-index: 0;
                opacity: 0;
                transition-duration: 400ms;
            } 
        
}

.menu {

    &__entry {

        animation: menu-delay 1s ease-in-out;
    }

    &__dish {
        animation: menu-delay 1.5s ease-in-out;
    }

    &__dessert {
        
        animation: menu-delay 2s ease-in-out;
    }

        
        &__h2 {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            margin: 12px 87px 12px 15px;
        }
            &__h2--underbar {
                border-bottom: 3px solid #99E2D0;
                padding-bottom: 5px;
                width:40px;
            }

            &__paragraph {
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 18px;
            }

            &__overflow--70 {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                transition: 200ms ease-in-out;
            }
                &__content {
                    display: flex;
                    position: relative;
                    z-index: 0;
                    flex-direction: column;
                    margin: 12px ;
                    overflow: hidden;
                    gap: 5px;
                    padding: 15px 12px 12px 15px;
                    background-color: #FFFFFF;
                    border-radius: 15.0431px;
                    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
                    &:hover {
                        .menu__price {
                            right: 65px;
                        }
                            .menu__overflow--70 {
                                max-width: 70%;
                        }        
                    }
            }
  
                &__content::before {
                    content: "";
                    background-image: url(/images/icons/Check.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 20px;
                    background-color: $third-color;
                    color: red;
                    position: absolute;
                    width: 60px;
                    opacity: 1;
                    height: 75px;
                    bottom: 0px;
                    right: -62px;
                    transition: 200ms;
                }

                
                
                &__content:hover::before {
                    animation: check-activate 200ms ease-in-out forwards;    
                }  


                &__info {
                        display: flex;
                        justify-content: space-between;
                        @media (min-width: 768px) {
                            gap: 300px;
                        }
                    }

                &__price {
                    position: relative;
                    right: 0px;
                    font-weight: 700;
                    color: #353535;
                    transition: 200ms;
                }

                    .menu__margin--btm {
                        margin-bottom: 40px;
                }
}


.btn {
    display: flex;
    justify-content: center;
    width: 100%;

    .btn__order {
        text-align: center;
        width: 186px;
        border-radius: 25px;
        padding: 13px 2px;
        margin-bottom: 40px;
        background: $lnr-gradient;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            color: white;
            cursor: pointer;
            transition: opacity 450ms;
                &:hover {
                    opacity: 0.8;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            }
    }
}


.contact {
    padding: 22px 0px 22px 25px;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    @media (min-width:720px) {
        display: flex;
        flex-direction: row-reverse;
        padding: 57px 26.42px 30px 16px;
        
    }    
        &__logo {
            width: 137.58px;
            @media (min-width:720px) {
                width: 100px;
                padding: 0px;
                margin: 0px 20px 0px 77px;
            }
            
        }
            &__icon {
                width: 11px;
                height: 13px;
                font-size: 14px ;
            }

            &__ul {
                display: block;
                @media (min-width:720px) {
                    display: flex;
                    gap: 15px;
                    
                }
            }

            &__link li {
                display: flex;
                align-items: center;
                gap: 11px;
                padding-top: 7px;
                list-style-type: none;
                @media (min-width:720px) {
                    padding: 0;
                    
                }
            }
    
            &__link {
                display: block;
                @media (min-width:720px) {
                    
                }
                
            }
            
            &__link a {
                color: white;
                text-decoration: none;
            }

            &__link__a-- {
                
                @media (min-width: 720px) {
                    margin-left: 40px;
                }
                
            }
}